<!DOCTYPE html>
<html>

<body>
{% extends 'master.html' %}
{% block content %}
<h1>Hello World!</h1>
<p>Welcome to my first Django project!</p>

<h1>Members</h1>

<table border="1">
{% for x in mymembers %}
<tr>
<td><a href="update/{{ x.id }}">{{ x.id }}</a></td>
<td>{{ x.firstname }}</td>
<td>{{ x.lastname }}</td>
<td><a href="delete/{{ x.id }}">delete</a></td>
</tr>
{% endfor %}
</table>
<br>
<a href="add">Add Record</a>
<br>

<h2>Comments</h2>
<div id="comments">
	{% for comment in comments %}
		<h3>{{ comment.name }}</h3>
		<p>{{ comment.text }}</p>
		<a href="deletecomment/{{ comment.id }}">delete</a>
		<br>
	{% endfor %}
</div>

<a href="addcomment">Add Comment</a>
{% endblock %}
</body>
</html>