<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'members/css/master.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sono:wght@300&display=swap" rel="stylesheet"> 
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-container">
            <a href="/members" style="text-decoration: none">
                <div class="navbar-item">
                    <i class="fa-solid fa-house navbar-item-icon"></i>
                    <div class="navbar-item-text">Home</div>
                </div>
            </a>
            <a href="https://github.com/Jaxon-O" style="text-decoration: none">
                <div class="navbar-item">
                    <i class="fa-brands fa-github navbar-item-icon"></i>
                    <div class="navbar-item-text">Github</div>
                </div>
            </a>
            <a href="https://linkedin.com/in/jaxon-o-connell-17a60152" style="text-decoration: none">
                <div class="navbar-item">
                    <i class="fa-brands fa-linkedin navbar-item-icon"></i>
                    <div class="navbar-item-text">LinkedIn</div>
                </div>
            </a>
            <a href="/members/cv" style="text-decoration: none">
                <div class="navbar-item">
                    <i class="fa-solid fa-file navbar-item-icon"></i>
                    <div class="navbar-item-text">CV</div>
                </div>
            </a>
        </div>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>